In [2]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn import model_selection

In [3]:
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()

In [4]:
train = pd.io.parsers.read_csv('data_812513.csv')

In [5]:
train.describe()

,Engine,IGVA_VAL0,IGVB_VAL0,IGVSEL_VAL0,Prior Shutdown,Event,Failure,RUF,MWSEL_VAL0,N25A_VAL0,...,TGBEB_VAL0,TGBESEL_VAL0,TLUBA_VAL0,TLUBB_VAL0,TLUBSEL_VAL0,VBVA_VAL0,VBVB_VAL0,VBVB_VAL0_FLAG,VBVSEL_VAL0,ALARM
count,89631.0,89631.0,89631.0,89631.000000,89631.000000,89631.000000,89631.000000,89631.000000,89631.000000,89631.000000,...,89631.000000,89631.000000,89631.00000,89631.000000,89631.000000,89631.0,89631.0,89631.0,89631.000000,3.0
mean,812513.0,0.0,0.0,73.973034,0.182671,0.000011,0.003347,35.290860,28.548831,8479.189800,...,211.029588,211.842186,139.07243,138.742533,139.065256,0.0,0.0,0.0,2.811103,1.0
std,0.0,0.0,0.0,23.426274,0.386399,0.003340,0.057757,18.835893,13.682305,3877.540046,...,71.699378,72.045940,38.48589,38.430764,38.499504,0.0,0.0,0.0,5.977938,0.0
min,812513.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.0
25%,812513.0,0.0,0.0,78.000000,0.000000,0.000000,0.000000,19.828125,33.639837,10281.000000,...,239.000000,239.000000,153.00000,152.000000,153.000000,0.0,0.0,0.0,2.000000,1.0
50%,812513.0,0.0,0.0,83.000000,0.000000,0.000000,0.000000,35.400694,34.586832,10299.000000,...,244.000000,245.000000,156.00000,155.000000,156.000000,0.0,0.0,0.0,2.000000,1.0
75%,812513.0,0.0,0.0,87.000000,0.000000,0.000000,0.000000,51.222569,35.550003,10319.000000,...,247.000000,248.000000,158.00000,158.000000,158.000000,0.0,0.0,0.0,3.000000,1.0
max,812513.0,0.0,0.0,98.000000,1.000000,1.000000,1.000000,67.694444,39.740000,10453.000000,...,255.000000,256.000000,164.00000,163.000000,164.000000,0.0,0.0,0.0,100.000000,1.0

In [6]:
train.head()

,Engine,DATETIME,IGVA_VAL0,IGVB_VAL0,IGVSEL_VAL0,Prior Shutdown,Event,Failure,RUF,MWSEL_VAL0,...,TGBEB_VAL0,TGBESEL_VAL0,TLUBA_VAL0,TLUBB_VAL0,TLUBSEL_VAL0,VBVA_VAL0,VBVB_VAL0,VBVB_VAL0_FLAG,VBVSEL_VAL0,ALARM
0,812513,8/1/2015 0:00,0,0,80,0,0,0,67.694444,33.989981,...,248,249,159,158,159,0,0,0,2,NaN
1,812513,8/1/2015 0:01,0,0,79,0,0,0,67.693750,33.860014,...,248,249,159,158,159,0,0,0,2,NaN
2,812513,8/1/2015 0:02,0,0,80,0,0,0,67.693056,33.950006,...,248,250,159,158,159,0,0,0,2,NaN
3,812513,8/1/2015 0:03,0,0,80,0,0,0,67.692361,33.990006,...,247,248,159,158,159,0,0,0,2,NaN
4,812513,8/1/2015 0:04,0,0,80,0,0,0,67.691667,34.030015,...,247,248,159,158,159,0,0,0,2,NaN

In [42]:
train1 = train.drop('DATETIME', axis = 1)

In [43]:
train1.ALARM.fillna(0, inplace=True)

In [44]:
y = train1.ALARM.ravel()

In [45]:
train1 = train1.drop('ALARM', axis = 1)

In [46]:
x = train1.values

In [47]:
dtrain = xgb.DMatrix(x, label = y)

In [51]:
params = {'max_depth':2, 'eta':1, 'objective':'multi:softmax', 'num_class': 2}

In [52]:
gb = xgb.cv(params, dtrain, num_boost_round=10, nfold=3)

In [53]:
gb

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.000033         0.000047           0.000033          0.000024
1          0.000033         0.000047           0.000033          0.000024
2          0.000033         0.000047           0.000033          0.000024
3          0.000033         0.000047           0.000033          0.000024
4          0.000033         0.000047           0.000033          0.000024
5          0.000033         0.000047           0.000033          0.000024
6          0.000033         0.000047           0.000033          0.000024
7          0.000044         0.000042           0.000028          0.000021
8          0.000033         0.000047           0.000033          0.000024
9          0.000033         0.000047           0.000033          0.000024